body{
margin:0;
font-family:Segoe UI,Arial;
background:#020617;
color:#e5e7eb
}
.header{
text-align:center;
padding:50px;
border-bottom:3px solid #22c55e
}
.header h1{
color:#22c55e;
text-shadow:0 0 15px #22c55e
}
.nav{
display:flex;
justify-content:center;
gap:20px;
padding:15px
}
.nav a{
color:#93c5fd;
text-decoration:none;
font-weight:bold
}
.container{
max-width:1000px;
margin:auto;
padding:30px
}
.card{
border:1px solid #1e293b;
border-radius:16px;
padding:25px;
margin-bottom:20px;
box-shadow:0 0 20px rgba(34,197,94,.2)
}
.footer{
text-align:center;
padding:20px;
color:#64748b
}
